
<mat-spinner *ngIf="isLoading; else dataTemplate"></mat-spinner>
<ng-template #dataTemplate>
<mat-accordion class="list-display" multi *ngFor="let post of posts">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
     </mat-expansion-panel-header>
     <p>{{post.content}}</p>
     <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
     </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</ng-template>
